.button__header:hover {
  background-color: red;
  color: #fff;
  transition: 0.5s all ease-out;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  border-radius: 8px;
}

iframe {
  width: 100%;
  height: 100%;
}

.header-top {
  padding-top: 39px;
  padding-bottom: 39px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  flex-direction: row;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.header-button {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #1565D8;
  border: 1px solid #1565D8;
  padding: 13px 28px;
  background-color: transparent;
  border-radius: 8px;
  margin-left: 45px;
}

.header__ul {
  display: flex;
}

.header__link {
  color: #183B56;
  font-family: Open Sans, Sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-right: 25px;
  style-type: none;
}

.header__link--last {
  margin-right: 0px;
}

.header__link:hover {
  cursor: pointer;
  color: #FAAD13;
  transition: 0.3s all ease-out;
}

.header__link:hover--last {
  margin-right: 70px;
}

.header .header__button {
  transition: 0.3s all ease-out;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  border-radius: 8px;
  padding: 13px 28px;
  color: #1565D8;
  border: 2px solid #1565D8;
  background-color: transparent;
}

.header .header__button--transparent {
  margin-left: 38px;
}

.header .header__button--transparent:hover {
  background-color: #FAAD13;
  color: #fff;
  cursor: pointer;
  border: 2px solid #FAAD13;
}

.header .header__button--bottom {
  text-transform: uppercase;
  padding: 18px 37px;
  color: #fff;
  background-color: #1565D8;
  margin-right: 26px;
  padding: 18px 37px;
}

.header .header__button--bottom:hover {
  background-color: #FAAD13;
  color: #fff;
  cursor: pointer;
  border: 2px solid #FAAD13;
}

.header .header__button--transparent {
  text-transform: uppercase;
  padding: 17px 50px;
}

.header .header__button--transparent:hover {
  background-color: #FAAD13;
  color: #fff;
  cursor: pointer;
  border: 2px solid #FAAD13;
}

.header-bottom {
  padding-top: 45px;
  padding-bottom: 100px;
}

.header__title {
  margin-top: 0;
  max-width: 443px;
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #FAAD13;
  margin-bottom: 28px;
}

.header__title--color {
  color: #183B56;
}

.header__subtitle {
  color: #183B56;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-top: 0px;
}

.header__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  color: #5A7184;
  max-width: 585px;
  margin-bottom: 45px;
  margin-top: 36px;
}

.header-right {
  width: 488px;
  text-align: center;
  height: 588px;
}

.header__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  mix-blend-mode: normal;
  z-index: 9;
}

.header .image {
  position: absolute;
  z-index: 10;
  top: 103px;
  right: 119px;
}

.header .link {
  text-decoration: none;
  color: #183B56;
}

.header li {
  list-style-type: none;
}

.header .menu-button {
  display: none;
}

.header .logo {
  display: block;
}

.header .logo__img {
  display: block;
}

.books {
  padding-bottom: 79px;
}

.books .like {
  background-color: #fff;
  border: none;
}

.books-wrapper {
  display: flex;
}

.recommended__tab {
  padding: 26px 10px;
  width: 98%;
  text-decoration: none;
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1565D8;
  text-transform: uppercase;
  background-color: #eff5fd;
  mix-blend-mode: normal;
  border-radius: 8px;
}

.recommended-wrapper {
  max-width: 780px;
  display: flex;
  flex-wrap: wrap;
}

.recommended__block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 10px;
}

.recommended__item {
  flex-basis: 47%;
  max-height: 260px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  border: 1px solid #ECEEF2;
  border-radius: 8px;
  margin-right: 25px;
}

.recommended__item:nth-child(2n) {
  margin-right: 0px;
}

.recommended__item:nth-child(5) {
  margin-bottom: 27px;
}

.recommended__item:nth-child(6) {
  margin-bottom: 27px;
}

.recommended__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recommended__img {
  margin-right: 20px;
  width: 160px;
  object-fit: cover;
  padding-bottom: 6px;
  padding-top: 11px;
  padding-left: 11px;
}

.recommended-title {
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-bottom: 30px;
  margin-top: 0px;
}

.recommended__title {
  max-width: 152px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-top: 0px;
  color: #183B56;
}

.recommended__subtitle {
  margin-bottom: 12px;
  font-family: Open Sans, Sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.recommended__pricetag {
  margin-bottom: 15px;
  font-family: Roboto Condensed,Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.2px;
  color: #1565D8;
}

.recommended__button {
  background-color: #183B56;
  border-radius: 2000px;
  color: #fff;
  padding: 7px 20px;
  border: none;
}

.recommended__buttons {
  align-items: flex-start;
  width: 130px;
}

.best {
  max-width: 400px;
}

.best-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  letter-spacing: 0.2px;
  color: #183B56;
}

.best-wrapper {
  background-color: #f3f4f6;
  mix-blend-mode: normal;
  border-radius: 8px;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 49px;
  border: 1px solid #f3f4f6;
}

.best__item {
  z-index: 9;
  display: flex;
  margin-bottom: 32px;
}

.best__block {
  display: flex;
  flex-direction: column;
  height: 178px;
  max-width: 190px;
}

.best__img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  margin-right: 25px;
}

.best-img {
  width: 120px;
  height: 100%;
}

.best__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */
  letter-spacing: 0.2px;
  color: #183B56;
}

.best__pricetag {
  margin-bottom: 29px;
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.2px;
  color: #1565D8;
}

.best__button {
  padding: 7px 20px;
  font-family: Open Sans, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #183B56;
  border-radius: 2000px;
  border: none;
  width: 101px;
}

.best__hr {
  margin-top: 0;
  margin-bottom: 25px;
}

.best__tab {
  border-top: 2px solid #ECEEF2;
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #1565D8;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  padding-top: 25px;
}

.best__link {
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #1565D8;
}

.like {
  margin-top: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.merit {
  padding-top: 60px;
  padding-bottom: 100px;
}

.merit__container {
  position: relative;
  border-top: 1px solid #ECEEF2;
  margin: 0 auto;
  max-width: 1160px;
  padding-top: 60px;
}

.merit-container {
  max-width: 1140px;
}

.merit__item {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ECEEF2;
  box-sizing: border-box;
  border-radius: 8px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
}

.merit__title {
  width: 250px;
  padding-top: 40px;
  padding-bottom: 12px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #183B56;
}

.merit__subtitle {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #5A7184;
}

.merit__button {
  position: absolute;
  top: 50%;
  width: 56px;
  height: 56px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
}

.merit__button--prev {
  transform: translateX(-50%);
  left: 0;
  background-image: url(../img/arrow__prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  margin-right: 50px;
}

.merit__button--next {
  right: 0;
  margin-right: 0px;
  background-image: url(../img/arrow__next.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.unbublished__container {
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
}

.unbublished {
  background-color: #183B56;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 80px;
}

.unbublished-container {
  max-width: 1140px;
  height: 315px;
  z-index: 20;
}

.unbublished__title {
  flex-basis: 100%;
  font-family: 'Roboto Condensed', Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 40px;
}

.unbublished-slider__button {
  top: 0;
  transform: translateY(-10%);
  position: absolute;
  width: 56px;
  height: 56px;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
}

.unbublished-slider__button--next {
  margin-right: 20px;
  right: 0;
  background-image: url(../img/next_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.unbublished-slider__button--prev {
  right: 0;
  margin-right: 98px;
  background-image: url(../img/prev_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.unbublished__item {
  margin-top: 15px;
}

.unbublished__img {
  object-fit: cover;
}

.unbublished .swiper-button-disabled {
  opacity: 0.1;
}

.coop {
  background-color: #B3BAC5;
  padding-top: 80px;
  padding-bottom: 85px;
}

.coop__title {
  padding-bottom: 56px;
}

.coop__item {
  z-index: 10;
}

.coop__item:nth-child(-n+12) {
  padding-top: 56px;
}

.coop__item:nth-child(-n+6) {
  padding-top: 0px;
}

.coop__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.coop__title {
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 0;
}

.blog {
  padding-top: 100px;
  padding-bottom: 60px;
}

.blog__title {
  margin: 0;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.blog__button {
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1565D8;
  padding: 12px 50px;
  background-color: transparent;
  border: 2px solid #1565D8;
  border-radius: 22px;
  cursor: pointer;
}

.blog__button--none {
  display: none;
}

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.blog__wrapper {
  display: flex;
  justify-content: space-between;
}

.blog__leftside {
  max-width: 556px;
  margin-right: 30px;
}

.blog__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.blog__block {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}

.blog__date {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #5A7184;
  margin: 0;
  padding-bottom: 16px;
}

.blog__describe {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  padding-bottom: 18px;
}

.blog__link {
  text-decoration: none;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1665D8;
}

.blog__description {
  margin: 0;
  padding-bottom: 16px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.blog__mainimg {
  padding-bottom: 30px;
}

.blog__text {
  margin: 0;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}

.newsletter {
  padding-bottom: 110px;
}

.newsletter-wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/base.png);
  border-radius: 12px;
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #1565D8;
  border: 2px solid #1565D8;
}

.newsletter__title {
  max-width: 393px;
  padding-top: 60px;
  padding-bottom: 80px;
  margin: 0;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #fff;
}

.newsletter__form {
  width: 447px;
  position: relative;
  padding-right: 60px;
  border: 1px solid #C3CAD9;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.newsletter__input {
  padding-left: 50px;
  height: 100%;
  width: 100%;
  border: none;
  font-style: normal;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 15px;
  border: none;
}

.newsletter__button {
  border-radius: 4px;
  background-color: #FAAD13;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

.newsletter__img {
  position: absolute;
  top: 38%;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  padding-bottom: 66px;
}

.footer-wrapper {
  display: flex;
}

.footer__item {
  justify-content: space-between;
  padding-right: 75px;
}

.footer__item--logo {
  padding-right: 61px;
}

.footer__item--first {
  padding-right: 81px;
}

.footer__item--second {
  padding-right: 81px;
}

.footer__item--third {
  padding-right: 94px;
}

.footer__item--four {
  padding-right: 0px;
}

.footer__li {
  padding-bottom: 24px;
}

.footer__li--title {
  padding-bottom: 31px;
}

.footer__link {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.footer__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__title {
  font-family: Open Sans, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #183B56;
}

.footer__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #5A7184;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  max-width: 263px;
}

.footer .logo--footer {
  margin-bottom: 26px;
}

.bottom {
  padding-bottom: 80px;
}

.bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom__img {
  width: 56px;
  height: 56px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom__title {
  width: 279px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #5A7184;
}

.video {
  padding-top: 96px;
  padding-bottom: 80px;
}

.video__decribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__describe {
  display: flex;
}

.video__title {
  margin: 0;
  ont-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height, or 125% */
  letter-spacing: 0.2px;
  color: #183B56;
  padding-right: 250px;
}

.video__history {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.video__text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
  margin: 0;
}

.video__text {
  max-width: 383px;
}

.video-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.video__little {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.video__tit {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
  letter-spacing: 0.2px;
  color: #183B56;
}

.video__little:nth-child(3n) {
  padding-right: 0;
}

.video__subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #5A7184;
}

.video__play {
  position: absolute;
  top: 35%;
  left: 45%;
  cursor: pointer;
}

.video__main {
  display: flex;
  justify-content: center;
  height: 380px;
  padding-bottom: 30px;
  position: relative;
  width: 1005px;
  margin: auto;
}

.video #video {
  height: 200px;
}

.video .video__button {
  border: none;
  background-color: #fff;
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 143, 223, 0.39);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  overflow: nidden;
}

.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 33px 88px;
  background: #183B56;
  border-radius: 8px;
  z-index: 101;
  color: #fff;
  max-height: 95%;
  max-width: 478px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  overflow: auto;
}

.modal__dialog--visible {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  text-decoration: none;
  cursor: pointer;
}

.modal__input {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 50px;
  margin-top: 15px;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.modal__message {
  background-color: #fff;
  border-radius: 4px;
  padding: 18px 23px;
  border: none;
  width: 100%;
  height: 123px;
  resize: none;
  margin-top: 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.modal__title {
  margin-top: 0;
}

.modal__title--input {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FAAD13;
}

.modal__button {
  border-radius: 12px;
  border: none;
  padding: 18px 40px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FAAD13;
  background-color: transparent;
  border: 2px solid #FAAD13;
  cursor: pointer;
}

.modal__info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FAAD13;
}

.modal__contacts-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.modal .fixedPosition {
  overflow: hidden;
}

.back {
  padding-top: 80px;
  padding-bottom: 80px;
}

.back-info {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-info__text {
  text-align: center;
}

.back-info__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: Roboto;
  color: #183B56;
}

.back-info__subtitle {
  margin-bottom: 40px;
  font-family: Roboto;
  color: #183B56;
}

.back__link {
  border-radius: 20px;
  padding: 13px 50px;
  border: 1px solid #1565D8;
  margin-top: 30px;
  text-decoration: none;
  color: #1565D8;
}

.back .back__link:hover {
  color: #FAAD13;
  transition: 0.3s all ease-out;
}

@media (max-width: 1200px) {
  .advantages-slide {
    height: 46%;
  }
  .container {
    max-width: 960px;
  }
  .container-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slider__advantages {
    max-width: 960px;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider__container {
    max-width: 960px;
  }
  .unbublished__container {
    max-width: 960px;
  }
  .header-bottom {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .header-wrap {
    width: 100%;
    margin-right: auto;
    align-items: center;
  }
  .header-left {
    display: flex;
    flex-direction: column;
    justify-content: centers;
    margin-right: 40px;
  }
  .header-wrapper {
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__title {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    text-align: center;
    margin-right: 0;
    max-width: 300px;
  }
  .header__subtitle {
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .header__text {
    font-size: 16px;
    text-align: center;
    max-width: 280px;
    margin-bottom: 35px;
  }
  .header__buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
  }
  .header .header__button {
    margin-left: 0px;
  }
  .header .header__button--bottom {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .books-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .recommended-title {
    text-align: center;
  }
  .recommended-wrapper {
    justify-content: center;
    margin-bottom: 50px;
  }
  .slider__item:nth-child(3) {
    margin-right: 0;
  }
  .best-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .slider__title {
    font-size: 17px;
  }
  .slider__subtitle {
    font-size: 16px;
  }
  .best-title {
    text-align: center;
  }
  .blog__description {
    text-align: center;
  }
  .blog__text {
    text-align: center;
  }
  .blog__button {
    order: 100;
  }
  .blog__header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .blog__mainimg {
    max-width: 555px;
  }
  .blog__block {
    max-width: 250px;
  }
  .blog__describe {
    font-size: 16px;
  }
  .blog__wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
  .blog__item {
    max-width: 556px;
  }
  .blog__text {
    padding-bottom: 28px;
  }
  .blog__img {
    width: 290px;
  }
  .blog__image {
    width: 100%;
  }
  .coop__item:nth-child(4n) {
    display: none;
  }
  .coop__item {
    flex-basis: 33%;
    margin-top: 40px;
  }
  .coop__item:nth-child(-n+12) {
    padding-top: 0;
  }
  .coop__item:nth-child(-n+3) {
    padding-top: 0px;
    margin-top: 0px;
  }
  .coop__img {
    text-align: center;
  }
  .coop__wrapper {
    max-width: 800px;
    align-items: center;
    margin: auto;
  }
  .footer__item--logo {
    order: 1;
    flex-basis: 100%;
    text-align: center;
  }
  .footer__item {
    padding-right: 10px;
    right: 50%;
  }
  .footer__item--second {
    padding-right: 0;
  }
  .footer__item--four {
    padding-right: 0;
  }
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .video__tit {
    text-align: center;
  }
  .video__main {
    width: 95%;
    height: 300px;
  }
  .video__history {
    flex-wrap: wrap;
    justify-content: center;
  }
  .video__title {
    text-align: center;
    flex-basis: 100%;
    padding-right: 0px;
    padding-bottom: 24px;
  }
  .video__text {
    align-items: center;
    max-width: 450px;
    justify-content: center;
  }
  .video__little--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog__button--visible {
    display: none;
  }
  .blog__button--none {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 36px;
  }
  .video-wrapper {
    width: 99%;
    justify-content: space-between;
  }
  .video__little--none {
    display: flex;
    flex-direction: column;
  }
  .video__decribe {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .bottom {
    display: none;
  }
  .newsletter-wrapper {
    flex-wrap: wrap;
  }
  .newsletter__input {
    height: 120px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 34px;
  }
  .newsletter__button {
    width: 98%;
    top: 50%;
    bottom: 0;
  }
  .newsletter__form {
    width: 100%;
    margin-bottom: 28px;
  }
  .newsletter__img {
    top: 30%;
  }
  .newsletter__title {
    padding-top: 26px;
    padding-bottom: 32px;
  }
  .container {
    max-width: 700px;
  }
  .slider__advantages {
    max-width: 700px;
  }
  .slider__container {
    max-width: 700px;
  }
  .unbublished__container {
    max-width: 700px;
  }
  .recommended-wrapper {
    flex-wrap: wrap;
  }
  .best-item {
    width: 150px;
  }
  .best-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .recommended__tab {
    max-width: 470px;
  }
  .recommended__item:nth-child(4n) {
    display: none;
  }
  .recommended__title {
    font-size: 20px;
  }
  .recommended__block {
    margin-left: 0px;
  }
  .recommended__item {
    padding-right: 10px;
  }
  .unbublished__item {
    text-align: center;
    width: 206px;
    height: 300px;
  }
  .unbublished__title {
    text-align: center;
    margin-bottom: 25px;
  }
  .coop__item:nth-child(4n) {
    display: none;
  }
  .unbublished-slider__button {
    top: 110%;
    width: 48px;
    height: 48px;
  }
  .unbublished-slider__button--next {
    margin-left: 0;
    left: 51%;
  }
  .unbublished-slider__button--prev {
    right: 49%;
    margin-right: 18px;
  }
  .unbublished {
    padding-top: 48px;
    padding-bottom: 128px;
  }
  .slider__item {
    width: 330px;
  }
  .slider__button {
    top: 105%;
    right: 35%;
  }
  .video__little--none {
    display: none;
  }
  .header-left {
    margin-right: 0px;
  }
}

@media (max-width: 767px) {
  .header-nav {
    display: flex;
    flex-direction: column;
  }
  .coop__item:nth-child(4n) {
    display: none;
  }
  .slider__title {
    max-width: 112px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .slider__img {
    width: 36px;
    height: 36px;
    margin-top: 20px;
    margin-bottom: 16px;
  }
  .slider__subtitle {
    max-width: 100px;
    font-size: 12px;
    line-height: 20px;
  }
  .header-nav {
    display: flex;
    flex-direction: column;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 70px;
    padding-top: 30px;
    overflow: scroll;
    z-index: 20;
    background-color: #fff;
    color: #fff;
  }
  .header-nav--visible {
    display: block;
  }
  .header__ul {
    align-items: center;
    margin: 0;
    padding: 0;
    color: #fff;
    flex-direction: column;
  }
  .header__link {
    margin-bottom: 20px;
    margin-right: 0px;
    color: #fff;
  }
  .header-button {
    margin-left: 0px;
  }
  .header-nav--visible {
    display: flex;
  }
  .header-nav--visible-top {
    padding: 16px;
    position: fixed;
    z-index: 99;
    padding-bottom: 30px;
    background-color: #fff;
  }
  .header-nav--visible--mobile-fixed {
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }
  .header-nav--visible--mobile--mobile--hidden {
    display: none;
  }
  .slider__advantages {
    max-width: 576px;
    height: 400px;
  }
  .slider__container {
    max-width: 576px;
  }
  .unbublished__container {
    max-width: 576px;
  }
  .container {
    max-width: 576px;
  }
  .recommended__item {
    margin-right: 0px;
    flex-basis: 60%;
  }
  .recommended-wrapper {
    flex-wrap: wrap;
  }
  .recommended__img {
    margin-right: 30px;
  }
  .recommended__item--none {
    display: none;
  }
  #video__big {
    width: 400px;
  }
  .unbublished__buttons {
    margin: auto;
  }
  .header .menu-button {
    width: 16px;
    height: 11px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .header .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #183B56;
  }
  .slider__item {
    width: 270px;
    height: 170px;
  }
  .books {
    padding-bottom: 30px;
  }
  .slider {
    padding-bottom: 40px;
  }
  .video-wrapper {
    width: 99%;
  }
}

@media (max-width: 576px) {
  .advantages-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .coop__item:nth-child(12n) {
    display: block;
  }
  .coop__item--none {
    display: none;
  }
  .coop__item {
    margin-top: 0px;
  }
  .container {
    width: 87%;
  }
  .footer__item {
    flex-basis: 50%;
  }
  .footer__item--logo {
    flex-basis: 100%;
  }
  .video__little {
    width: 200px;
  }
  .video__little--last {
    padding-left: 20px;
  }
  .video__main {
    width: 98%;
  }
  .coop__wrapper {
    justify-content: center;
  }
  .blog__mainimg {
    text-align: center;
    width: 98%;
    margin: auto;
  }
  .blog__leftside {
    margin-right: 0;
  }
  .recommended__item {
    flex-direction: column;
    max-height: 336px;
    width: 280px;
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
  }
  .recommended__image {
    width: 96px;
    height: 138px;
    position: absolute;
    top: -13%;
  }
  .recommended__img {
    width: 96px;
    height: 138px;
    margin: 0;
    padding: 0;
  }
  .recommended__block {
    text-align: center;
    padding-bottom: 32px;
  }
  .recommended__title {
    width: 100%;
    margin-bottom: 12px;
    margin-top: 18px;
  }
  .recommended-title {
    padding-top: 40px;
    font-size: 28px;
    margin-bottom: 68px;
  }
  .recommended__buttons {
    width: 160px;
    margin: auto;
  }
  .recommended__pricetag {
    margin-bottom: 20px;
  }
  .coop {
    padding-top: 37px;
    padding-bottom: 29px;
  }
  .coop__wrapper {
    margin: auto;
  }
  .coop__img {
    width: 100%;
  }
  .coop__item {
    flex-basis: 50%;
    padding-bottom: 28px;
  }
  .coop__title {
    padding-bottom: 27px;
  }
  .coop__item:nth-child(-n+12) {
    padding-top: 0px;
  }
  .coop__item:nth-child(-n+6) {
    padding-top: 0px;
  }
  .blog {
    padding-top: 50px;
    padding-bottom: 48px;
  }
  .blog__title {
    font-size: 28px;
    margin-bottom: 35px;
  }
  .blog__header {
    margin-bottom: 0px;
  }
  .blog__mainimg {
    width: 280px;
    height: 120px;
    border-radius: 4.816px;
    object-fit: cover;
    overflow: hidden;
    padding-bottom: 0px;
    margin-bottom: 20px;
  }
  .blog__leftside {
    display: flex;
    flex-direction: column;
  }
  .blog__description {
    padding-bottom: 10px;
    font-size: 16px;
  }
  .blog__image {
    object-fit: cover;
    width: 90px;
    height: 90px;
    border-radius: 4.816px;
  }
  .blog__img {
    width: 90px;
  }
  .blog__wrapper {
    justify-content: space-between;
  }
  .blog__text {
    text-align: justify;
    font-size: 12px;
    line-height: 24px;
  }
  .blog__describe {
    font-size: 14px;
    padding-bottom: 6px;
  }
  .blog__date {
    font-size: 10px;
    padding-bottom: 6px;
  }
  .blog__link {
    font-size: 10px;
  }
  .blog__item {
    margin-bottom: 28px;
  }
  .blog__item:nth-child(3n) {
    margin-bottom: 31px;
  }
  .blog__button {
    margin-top: 0px;
  }
  .newsletter {
    padding-bottom: 48px;
  }
  .newsletter__title {
    font-size: 28px;
    line-height: 36px;
    width: 180px;
  }
  .newsletter-wrapper {
    padding-left: 24px;
    padding-right: 16px;
  }
  .newsletter__form {
    height: 112px;
  }
  .newsletter__img {
    top: 33%;
  }
  .newsletter__button {
    width: 91%;
    margin-bottom: 12px;
    margin-right: 11px;
    margin-left: 11px;
  }
  .footer {
    padding-bottom: 64px;
  }
  .footer__title {
    font-size: 16px;
  }
  .footer__link {
    font-size: 14px;
  }
  .footer__li {
    width: 105px;
    padding-bottom: 15px;
  }
  .footer__li--title {
    padding-bottom: 20px;
  }
  .footer__li--last {
    padding-bottom: 39px;
  }
  .footer__item {
    padding-right: 0;
    width: 105px;
  }
  .footer__item--first {
    padding-left: 24px;
    padding-right: 6px;
  }
  .footer__item--third {
    padding-left: 24px;
    padding-right: 6px;
  }
  .footer .logo--footer {
    padding-bottom: 16px;
  }
  .footer__text {
    padding-bottom: 16px;
  }
  .video {
    padding-top: 44px;
    padding-bottom: 80px;
  }
  .video-wrapper {
    align-items: center;
  }
  .video__title {
    font-size: 28px;
    line-height: 36px;
  }
  .video__text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  .video__history {
    padding-bottom: 35px;
  }
  .video__main {
    width: 300px;
    height: 210px;
    padding-bottom: 0;
    width: 93%;
  }
  .video__little {
    padding-top: 20px;
    width: 140px;
    padding-right: 0;
    padding-left: 0;
  }
  .video__little--flex {
    padding-right: 0;
  }
  .video__tit {
    width: 134px;
    text-align: center;
    padding-top: 16px;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
  .video__subtitle {
    padding-top: 6px;
    font-size: 12px;
    line-height: 20px;
  }
  #video__big {
    width: 300px;
    height: 210px;
  }
  .header .header__button {
    width: 185px;
    font-size: 16px;
    padding: 6px 20px;
  }
  .header .header__button_ .header__button--bottom {
    width: 185px;
    font-size: 16px;
  }
  .header .header__buttons {
    align-items: center;
    margin-bottom: 30px;
  }
  .header__text {
    margin-top: 32px;
    margin-bottom: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .header__title {
    margin-bottom: 24px;
  }
  .header__img {
    width: 280px;
    height: 333px;
  }
  .header-right {
    height: 280px;
    width: 280px;
  }
  .header .image {
    right: 25%;
    width: 143px;
    height: 215px;
    top: 16%;
  }
  .best__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    width: 130px;
  }
  .best__pricetag {
    font-size: 20px;
    margin-bottom: 14px;
  }
  .best-img {
    width: 96px;
    height: 142px;
    object-fit: cover;
  }
  .best__img {
    margin-right: 0;
  }
  .best__tab {
    display: flex;
    align-items: center;
    margin: auto;
  }
  .best__item {
    margin: 0;
  }
  .best-wrapper {
    padding-left: 15px;
    padding-right: 30px;
  }
  .best__hr {
    display: none;
  }
  .unbublished__title {
    font-size: 28px;
    margin-bottom: 0px;
  }
  .slider__advantages {
    width: 300px;
    height: 420px;
  }
  .slider__item {
    max-width: 140px;
    height: 185px;
  }
  .container-video {
    justify-content: space-between;
  }
  .video__little--flex {
    flex-basis: 47%;
  }
  .video-wrapper {
    width: 99%;
    justify-content: space-evenly;
  }
  #video-little {
    width: 140px;
  }
  #video {
    width: 140px;
  }
  .slider {
    padding-bottom: 99px;
  }
  .slider__item {
    margin-bottom: 10px;
  }
  .books {
    padding-bottom: 56px;
  }
  .footer__li {
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */