.button__header:hover {
  background-color: red;
  color: #fff;
  transition: 0.5s all ease-out;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  border-radius: 8px;
}

.header-top {
  padding-top: 39px;
  padding-bottom: 39px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  margin: 0;
  display: flex;
  align-items: center;
}

.header__link {
  color: #183B56;
  font-family: Open Sans, Sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-right: 25px;
  style-type: none;
}

.header__link:hover {
  cursor: pointer;
  color: #FAAD13;
  transition: 0.3s all ease-out;
}

.header__link:hover--last {
  margin-right: 70px;
}

.header .button--transparent {
  margin-left: 38px;
}

.header .button--transparent:hover {
  background-color: #FAAD13;
  color: #fff;
  transition: 0.3s all ease-out;
  cursor: pointer;
  border: 2px solid #FAAD13;
}

.header .button__header {
  padding: 13px 28px;
  color: #1565D8;
  border: 2px solid #1565D8;
  background-color: transparent;
}

.header .button__header--bottom {
  text-transform: uppercase;
  padding: 18px 37px;
  color: #fff;
  background-color: #1565D8;
  margin-right: 26px;
  padding: 18px 37px;
}

.header .button__header--bottom:hover {
  background-color: #FAAD13;
  color: #fff;
  transition: 0.3s all ease-out;
  cursor: pointer;
  border: 2px solid #FAAD13;
}

.header .button__header--transparent {
  text-transform: uppercase;
  padding: 17px 50px;
}

.header .button__header--transparent:hover {
  background-color: #FAAD13;
  color: #fff;
  transition: 0.3s all ease-out;
  cursor: pointer;
  border: 2px solid #FAAD13;
}

.header-bottom {
  padding-top: 30px;
  padding-bottom: 100px;
}

.header__title {
  margin-top: 0;
  max-width: 443px;
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #FAAD13;
  margin-bottom: 28px;
}

.header__title--color {
  color: #183B56;
}

.header__subtitle {
  color: #183B56;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-top: 0px;
}

.header__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  color: #5A7184;
  max-width: 585px;
  margin-bottom: 45px;
  margin-top: 36px;
}

.header-right {
  width: 488px;
  text-align: center;
  height: 588px;
}

.header__img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  mix-blend-mode: normal;
  z-index: 9;
}

.header .image {
  position: absolute;
  z-index: 10;
  top: 103px;
  right: 119px;
}

.header .link {
  text-decoration: none;
  color: #183B56;
}

.header li {
  list-style-type: none;
}

.books {
  padding-bottom: 79px;
}

.books-wrapper {
  display: flex;
}

.recommended__tab {
  height: 72px;
  width: 95%;
  text-decoration: none;
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1565D8;
  text-transform: uppercase;
  background-color: #eff5fd;
  mix-blend-mode: normal;
  border-radius: 8px;
  padding-top: 25px;
}

.recommended-wrapper {
  width: 780px;
  display: flex;
  flex-wrap: wrap;
}

.recommended__block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 10px;
}

.recommended__item {
  flex-basis: 47%;
  max-height: 260px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  border: 1px solid #ECEEF2;
  border-radius: 8px;
  margin-right: 25px;
}

.recommended__item:nth-child(2n) {
  margin-right: 0px;
}

.recommended__item:nth-child(5) {
  margin-bottom: 27px;
}

.recommended__item:nth-child(6) {
  margin-bottom: 27px;
}

.recommended__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recommended__img {
  margin-right: 20px;
  width: 160px;
  object-fit: cover;
  padding-bottom: 6px;
  padding-top: 11px;
  padding-left: 11px;
}

.recommended-title {
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin-bottom: 30px;
  margin-top: 0px;
}

.recommended__title {
  width: 152px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-top: 0px;
  color: #183B56;
}

.recommended__subtitle {
  margin-bottom: 12px;
  font-family: Open Sans, Sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.recommended__pricetag {
  margin-bottom: 15px;
  font-family: Roboto Condensed,Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.2px;
  color: #1565D8;
}

.recommended__button {
  background-color: #183B56;
  border-radius: 2000px;
  color: #fff;
  padding: 7px 20px;
  border: none;
}

.recommended__buttons {
  align-items: flex-start;
}

.best {
  max-width: 400px;
}

.best-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  letter-spacing: 0.2px;
  color: #183B56;
}

.best-wrapper {
  background-color: #f3f4f6;
  mix-blend-mode: normal;
  border-radius: 8px;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  border: 1px solid #f3f4f6;
}

.best__item {
  z-index: 100;
  display: flex;
  margin-bottom: 32px;
}

.best__block {
  display: flex;
  flex-direction: column;
  height: 178px;
  width: 190px;
}

.best__img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  margin-right: 25px;
}

.best-img {
  width: 120px;
  height: 100%;
}

.best__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */
  letter-spacing: 0.2px;
  color: #183B56;
}

.best__pricetag {
  margin-bottom: 29px;
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.2px;
  color: #1565D8;
}

.best__button {
  padding: 7px 20px;
  font-family: Open Sans, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #183B56;
  border-radius: 2000px;
  border: none;
  width: 101px;
}

.best__hr {
  margin-top: 0;
  margin-bottom: 25px;
  border: 1px solid #ECEEF2;
}

.best__tab {
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #1565D8;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 100px;
}

.like {
  margin-top: 5px;
  cursor: pointer;
}

.slider {
  padding-bottom: 90px;
}

.slider__button {
  top: 50%;
  transform: translateY(-70%);
  position: absolute;
  width: 56px;
  height: 56px;
  border: none;
  background-color: #fff;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
}

.slider__button-next {
  right: 0;
  margin-right: 0px;
  background-image: url(../img/arrow__next.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.slider__img {
  margin-top: 40px;
  margin-bottom: 40px;
}

.slider__item {
  margin-right: 40px;
  width: 270px;
  height: 240px;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ECEEF2;
  border-radius: 8px;
}

.slider__title {
  width: 240px;
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #183B56;
}

.slider__subtitle {
  width: 230px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, Sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #5A7184;
}

.slider__advantages {
  width: 1140px;
  height: 250px;
  position: relative;
}

.slider__container {
  border-top: 1px solid #ECEEF2;
  margin: 0 auto;
  width: 1150px;
  position: relative;
  padding-top: 60px;
}

.unbublished__container {
  margin: 0 auto;
  width: 1160px;
  position: relative;
}

.unbublished {
  background-color: #183B56;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 80px;
}

.unbublished-container {
  max-width: 1140px;
  height: 315px;
  position: relative;
  z-index: 999;
}

.unbublished__title {
  font-family: 'Roboto Condensed', Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 40px;
}

.unbublished-slider__button {
  top: 0;
  transform: translateY(-10%);
  position: absolute;
  width: 56px;
  height: 56px;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
}

.unbublished-slider__button--next {
  margin-right: 20px;
  right: 0;
  background-image: url(../img/next_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.unbublished-slider__button--prev {
  right: 0;
  margin-right: 98px;
  background-image: url(../img/prev_arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.unbublished__item {
  margin-top: 15px;
}

.coop {
  background-color: #B3BAC5;
  padding-top: 80px;
  padding-bottom: 85px;
}

.coop__item {
  z-index: 10;
  margin-top: 56px;
}

.coop__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.coop__title {
  font-family: Roboto Condensed, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 0;
}

.blog {
  padding-top: 100px;
  padding-bottom: 60px;
}

.blog__title {
  margin: 0;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.blog__button {
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1565D8;
  padding: 12px 50px;
  background-color: transparent;
  border: 2px solid #1565D8;
  border-radius: 22px;
  cursor: pointer;
}

.blog__button--none {
  display: none;
}

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.blog__wrapper {
  display: flex;
  justify-content: space-between;
}

.blog__leftside {
  max-width: 556px;
  margin-right: 30px;
}

.blog__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.blog__block {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}

.blog__date {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #5A7184;
  margin: 0;
  padding-bottom: 16px;
}

.blog__describe {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
  padding-bottom: 18px;
}

.blog__link {
  text-decoration: none;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1665D8;
}

.blog__description {
  margin: 0;
  padding-bottom: 16px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.blog__mainimg {
  padding-bottom: 30px;
}

.blog__text {
  margin: 0;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
}

.newsletter {
  padding-bottom: 110px;
}

.newsletter-wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/base.png);
  border-radius: 12px;
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #1565D8;
  border: 2px solid #1565D8;
}

.newsletter__title {
  max-width: 393px;
  padding-top: 60px;
  padding-bottom: 80px;
  margin: 0;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.2px;
  color: #fff;
}

.newsletter__input {
  padding-left: 50px;
  height: 100%;
  width: 100%;
  border: none;
  font-style: normal;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 15px;
  border: none;
}

.newsletter__button {
  border-radius: 4px;
  background-color: #FAAD13;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

.newsletter__img {
  position: absolute;
  top: 38%;
  padding-left: 20px;
  padding-right: 20px;
}

.newsletter .form {
  position: relative;
  width: 450px;
  padding-right: 60px;
  border: 1px solid #C3CAD9;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.footer {
  padding-bottom: 96px;
}

.footer-wrapper {
  display: flex;
}

.footer__item {
  justify-content: space-between;
  padding-right: 75px;
}

.footer__item--logo {
  padding-right: 61px;
}

.footer__item--first {
  padding-right: 81px;
}

.footer__item--second {
  padding-right: 81px;
}

.footer__item--third {
  padding-right: 94px;
}

.footer__li {
  padding-bottom: 24px;
}

.footer__li--title {
  padding-bottom: 31px;
}

.footer__link {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
}

.footer__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__title {
  font-family: Open Sans, Sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #183B56;
}

.footer__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #5A7184;
  margin: 0;
  padding-bottom: 32px;
}

.footer .logo--footer {
  padding-bottom: 26px;
}

.video {
  padding-top: 96px;
  padding-bottom: 100px;
}

.video__title {
  margin: 0;
  ont-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height, or 125% */
  letter-spacing: 0.2px;
  color: #183B56;
  padding-right: 250px;
}

.video__history {
  align-items: flex-start;
  display: flex;
  max-width: 1005px;
  justify-content: space-between;
  padding-bottom: 30px;
}

.video__text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #5A7184;
  margin: 0;
}

.video__text {
  max-width: 383px;
}

.video-wrapper {
  display: flex;
}

.video__little {
  padding-right: 30px;
}

.video__little--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
  letter-spacing: 0.2px;
  color: #183B56;
}

.video__little:nth-child(3n) {
  padding-right: 0;
}

.video__subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #5A7184;
}

.video__play {
  position: absolute;
  top: 35%;
  left: 45%;
  cursor: pointer;
}

.video__main {
  max-width: 1005px;
  padding-bottom: 30px;
  position: relative;
}

.video .container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 143, 223, 0.39);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  overflow: nidden;
}

.modal__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 33px 88px;
  background: #183B56;
  border-radius: 8px;
  z-index: 101;
  color: #fff;
  max-height: 95%;
  max-width: 478px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  overflow: auto;
}

.modal__dialog--visible {
  visibility: visible;
  opacity: 1;
}

.modal__close {
  position: absolute;
  right: 18px;
  top: 17px;
  text-decoration: none;
  cursor: pointer;
}

.modal__input {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  padding: 0 23px;
  height: 50px;
  margin-top: 15px;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.modal__message {
  background-color: #fff;
  border-radius: 4px;
  padding: 18px 23px;
  border: none;
  width: 100%;
  height: 123px;
  resize: none;
  margin-top: 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.modal__title {
  margin-top: 0;
}

.modal__title--input {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FAAD13;
}

.modal__button {
  border-radius: 12px;
  border: none;
  padding: 18px 40px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FAAD13;
  background-color: transparent;
  border: 2px solid #FAAD13;
  cursor: pointer;
  margin-top: 15px;
}

.modal__info {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FAAD13;
}

.modal__contacts-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .fixedPosition {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .advantages-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container {
    max-width: 960px;
  }
  .slider__advantages {
    max-width: 960px;
  }
  .slider__container {
    max-width: 960px;
  }
  .unbublished__container {
    max-width: 960px;
  }
  .header-bottom {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .header-wrap {
    width: 100%;
    margin-right: auto;
    align-items: center;
  }
  .header-wrapper {
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header__title {
    text-align: center;
    margin-right: 0;
    max-width: 600px;
  }
  .header__subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .header__text {
    text-align: center;
    max-width: 630px;
    margin-bottom: 35px;
  }
  .buttons {
    margin-left: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .books-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .recommended-title {
    text-align: center;
  }
  .recommended-wrapper {
    justify-content: center;
    margin-bottom: 50px;
  }
  .slider__item:nth-child(3) {
    margin-right: 0;
  }
  .video__little--none {
    display: none;
  }
  .best-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .slider__title {
    font-size: 17px;
  }
  .slider__subtitle {
    font-size: 16px;
  }
  .best-title {
    text-align: center;
  }
  .blog__description {
    text-align: center;
  }
  .blog__text {
    text-align: center;
  }
  .blog__button {
    order: 100;
  }
  .blog__header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .blog__mainimg {
    max-width: 555px;
  }
  .blog__block {
    max-width: 250px;
  }
  .blog__describe {
    font-size: 16px;
  }
  .blog__wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
  .blog__item {
    max-width: 556px;
  }
  .blog__text {
    padding-bottom: 28px;
  }
  .blog__img {
    width: 290px;
  }
  .blog__image {
    width: 100%;
  }
  .coop__item:nth-child(2n) {
    display: none;
  }
  .coop__item {
    flex-basis: 33%;
  }
  .coop__wrapper {
    max-width: 800px;
    align-items: center;
    margin: auto;
  }
  .footer__item--logo {
    order: 1;
    flex-basis: 100%;
    text-align: center;
  }
  .footer__item {
    padding-right: 10px;
    right: 50%;
  }
  .footer__item--second {
    padding-right: 0;
  }
  .footer__item--four {
    padding-right: 0;
  }
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .video__main {
    width: 661px;
  }
  .video__history {
    flex-wrap: wrap;
    justify-content: center;
  }
  .video__title {
    text-align: center;
    flex-basis: 100%;
    padding-right: 0px;
    padding-bottom: 24px;
  }
  .video__text {
    align-items: center;
    max-width: 450px;
    justify-content: center;
  }
  .blog__button--visible {
    display: none;
  }
  .blog__button--none {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 36px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 700px;
  }
  .slider__advantages {
    max-width: 700px;
  }
  .slider__container {
    max-width: 700px;
  }
  .unbublished__container {
    max-width: 700px;
  }
  .like {
    display: none;
  }
  .recommended-wrapper {
    flex-wrap: wrap;
  }
  .best-item {
    width: 150px;
  }
  .best-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .recommended__tab {
    max-width: 470px;
  }
  .unbublished__item {
    width: 206px;
    height: 300px;
  }
  .unbublished__img {
    width: 100%;
  }
  .coop__item:nth-child(2n) {
    display: none;
  }
}

@media (max-width: 767px) {
  .slider__advantages {
    max-width: 576px;
  }
  .slider__container {
    max-width: 576px;
  }
  .unbublished__container {
    max-width: 576px;
  }
  .container {
    max-width: 576px;
  }
  .recommended__item {
    margin-right: 0px;
    flex-basis: 60%;
  }
  .recommended-wrapper {
    flex-wrap: wrap;
  }
  .recommended__img {
    margin-right: 30px;
  }
  .recommended__item--none {
    display: none;
  }
}

@media (max-width: 576px) {
  .container {
    width: 87%;
  }
}
/*# sourceMappingURL=style.css.map */