@media (max-width: 1200px)
  .advantages-wrapper
    display: flex
    flex-direction: column
    flex-wrap: wrap
  .container
    max-width: 960px
  .slider__advantages
    max-width: 960px
    height: 550px
    display: flex
    flex-direction: column
    flex-wrap: wrap
  .slider__container
    max-width: 960px
  .unbublished__container
    max-width: 960px
  .header
    &-bottom
      padding-top: 30px
      padding-bottom: 60px
    &-wrap
      width: 100%
      margin-right: auto
      align-items: center
    &-left
    &-wrapper
      flex-basis: 100%
      margin-left: auto
      margin-right: auto
      align-items: center
      display: flex
      flex-wrap: wrap
      justify-content: center
    &__title
      text-align: center
      margin-right: 0
      max-width: 600px
    &__subtitle
      display: flex
      justify-content: center
      text-align: center
    &__text
      text-align: center
      max-width: 630px
      margin-bottom: 35px
  .buttons
    margin-left: auto
    text-align: center
    margin-bottom: 30px
  .books-wrapper
    flex-wrap: wrap
    justify-content: center
  .recommended
    &-title
      text-align: center
    &-wrapper
      justify-content: center
      margin-bottom: 50px
  // .slider__item
  //   width: 180px
  .slider__item:nth-child(3)
    margin-right: 0
  .video__little--none
    display: none
  .best-wrapper
    display: flex
    flex-wrap: wrap
  .slider__title
    font-size: 17px
  .slider__subtitle
    font-size: 16px
  .best-title
    text-align: center
  .blog
    &__description
      text-align: center
    &__text
      text-align: center
    &__button
      order: 100
    &__header
      flex-direction: column
      flex-wrap: wrap
    &__mainimg
      max-width: 555px
    &__block
      max-width: 250px
    &__describe
      font-size: 16px
    &__wrapper
      justify-content: center
      flex-wrap: wrap
    &__item
      max-width: 556px
    &__text
      padding-bottom: 28px
    &__img
      width: 290px
    &__image
      width: 100%
  .coop__item:nth-child(2n)
    display: none
  .coop__item
    flex-basis: 33%
  .coop__img
    text-align: center
  .coop__wrapper
    max-width: 800px
    align-items: center
    margin: auto
  .footer__item--logo
    order: 1
    flex-basis: 100%
    text-align: center
  .footer__item
    padding-right: 10px 
    right: 50%
  .footer__item--second
    padding-right: 0
  .footer__item--four
    padding-right: 0
  .footer-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  .video
    &__main
      max-width: 90%
    &__history
      flex-wrap: wrap
      justify-content: center
    &__title
      text-align: center
      flex-basis: 100%
      padding-right: 0px
      padding-bottom: 24px
    &__text
      align-items: center
      max-width: 450px
      justify-content: center
  .blog__button--visible
    display: none
  .blog__button--none
    display: flex
    align-items: center
    margin: auto
    margin-top: 36px
@media (max-width: 991px)
  .container
    max-width: 700px
  .slider__advantages
    max-width: 700px
  .slider__container
    max-width: 700px
  .unbublished__container
    max-width: 700px
  .like
    display: none
  .recommended-wrapper
    flex-wrap: wrap
  .best-item
    width: 150px
  .best-wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
  .recommended
    &__tab
      max-width: 470px  
    &__item:nth-child(2n)
      display: none
  // .recommended__item
  //   display: flex
  //   flex-direction: column
  // .recommended__img
  //   width: 96px
  //   height: 138px
  // .recommended__block
  //   padding-top: 30px
  // .recommended__image
  //   width: 100%
  .unbublished__item
    // text-align: center
    width: 206px
    height: 300px
  .unbublished__title
    // text-align: center
    margin-bottom: 25px
  .coop__item:nth-child(2n)
    display: none
  .unbublished-slider__button
    top: 110%
    width: 48px
    height: 48px
  .unbublished-slider__button--next
    margin-left: 0
    left: 50%
  .unbublished-slider__button--prev
    right: 50%
    margin-right: 18px
  .unbublished
    padding-top: 48px
    padding-bottom: 128px
@media (max-width: 767px)
  .header
    &-nav
      display: none
    &-left
      margin-top: 100px
    &__title--color
      
    &-top
      position: fixed
      z-index: 99
      padding-bottom: 30px
      background-color: #fff
    &--mobile
      &-fixed
        
        left: 0
        right: 0
        top: 0
        z-index: 1000
      &--mobile
        &--hidden
          display: none
    
  .slider__advantages
    max-width: 576px
  .slider__container
    max-width: 576px
  .unbublished__container
    max-width: 576px
  .container
    max-width: 576px
  .recommended__item
    margin-right: 0px
    flex-basis: 60%
  .recommended-wrapper
    flex-wrap: wrap
  .recommended__img
    margin-right: 30px
  .recommended__item--none
    display: none
  #video__big
    width: 400px
  .unbublished__buttons
    margin: auto
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $dark-blue
@media (max-width: 576px)
  .container
    width: 87%
img
  z-index: 98