@media (max-width: 1200px)
  .container
    width: 960px
  .header
    &-bottom
      padding-top: 30px
      padding-bottom: 60px
    &-wrap
      width: 100%
      margin-right: auto
      align-items: center
    &-left
    &-wrapper
      flex-basis: 100%
      margin-left: auto
      margin-right: auto
      align-items: center
      display: flex
      flex-wrap: wrap
      justify-content: center
    &__title
      text-align: center
      margin-right: 0
      max-width: 600px
    &__subtitle
      text-align: center
    &__text
      text-align: center
      max-width: 630px
      margin-bottom: 35px
  .buttons
    margin-left: auto
    text-align: center
    margin-bottom: 30px
  .books-wrapper
    flex-wrap: wrap
    justify-content: center
  .recommended
    &-title
      text-align: center
    &-wrapper
      justify-content: center
      margin-bottom: 50px
  .swiper-wrapper
    width: 90%
  .slider__item
    width: 230px
  .slider__item:nth-child(3)
    margin-right: 0
  .best-wrapper
    display: flex
    flex-wrap: wrap
  .slider__title
    font-size: 17px
  .slider__subtitle
    font-size: 16px
  .best-title
    text-align: center
@media (max-width: 991px)
  .container
    max-width: 700px
  .like
    display: none
  .recommended-wrapper
    flex-wrap: wrap
  .best-item
    width: 150px
  .best-wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
@media (max-width: 767px)
  .container
    max-width: 576px
  .recommended__item:nth-child(2n)
    display: none
  .recommended__item
    margin-right: 0px
    flex-basis: 60%
  .recommended-wrapper
    flex-wrap: wrap
  .recommended__img
    margin-right: 30px
@media (max-width: 576px)
  .container
    width: 87%