@media (max-width: 1200px)
  .advantages-slide
    height: 46%
  .container
    max-width: 960px
  .container-video
    display: flex
    flex-direction: column
    align-items: center
  .slider__advantages
    max-width: 960px
    height: 550px
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
  .slider__container
    max-width: 960px
  .unbublished__container
    max-width: 960px
  .header
    &-bottom
      padding-top: 30px
      padding-bottom: 60px
    &-wrap
      width: 100%
      margin-right: auto
      align-items: center
    &-left
      display: flex
      flex-direction: column
      justify-content: centers
      margin-right: 40px
    &-wrapper
      flex-basis: 100%
      margin-left: auto
      margin-right: auto
      align-items: center
      display: flex
      flex-wrap: wrap
      justify-content: center
    &__title
      font-size: 32px
      line-height: 40px
      text-align: center
      letter-spacing: 0.2px
      text-align: center
      margin-right: 0
      max-width: 300px
    &__subtitle
      text-align: center
      font-size: 16px
      display: flex
      justify-content: center
      // text-align: center
    &__text
      font-size: 16px
      text-align: center
      max-width: 280px
      margin-bottom: 35px
  .header__buttons
    display: flex
    flex-direction: column
    text-align: center
    margin-bottom: 30px
    justify-content: center
  .header .header__button
    margin-left: 0px
  .header .header__button--bottom
    margin-right: 0px
    margin-bottom: 15px
  .books-wrapper
    flex-wrap: wrap
    justify-content: center
  .recommended
    &-title
      text-align: center
    &-wrapper
      justify-content: center
      margin-bottom: 50px
  // .slider__item
  //   width: 180px
  .slider__item:nth-child(3)
    margin-right: 0
  .best-wrapper
    display: flex
    flex-wrap: wrap
  .slider__title
    font-size: 17px
  .slider__subtitle
    font-size: 16px
  .best-title
    text-align: center
  .blog
    &__description
      text-align: center
    &__text
      text-align: center
    &__button
      order: 100
    &__header
      flex-direction: column
      flex-wrap: wrap
    &__mainimg
      max-width: 555px
    &__block
      max-width: 250px
    &__describe
      font-size: 16px
    &__wrapper
      justify-content: center
      flex-wrap: wrap
    &__item
      max-width: 556px
    &__text
      padding-bottom: 28px
    &__img
      width: 290px
    &__image
      width: 100%
  .coop__item:nth-child(4n)
    display: none
  .coop__item
    flex-basis: 33%
    margin-top: 40px
  .coop__item:nth-child(-n+12)
    padding-top: 0
  .coop__item:nth-child(-n+3)
    padding-top: 0px
    margin-top: 0px
  .coop__img
    text-align: center
  .coop__wrapper
    max-width: 800px
    align-items: center
    margin: auto
  .footer__item--logo
    order: 1
    flex-basis: 100%
    text-align: center
  .footer__item
    padding-right: 10px 
    right: 50%
  .footer__item--second
    padding-right: 0
  .footer__item--four
    padding-right: 0
  .footer-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  .video
    &__tit
      text-align: center
    &__main
      width: 95%
      height: 300px
    &__history
      flex-wrap: wrap
      justify-content: center
    &__title
      text-align: center
      flex-basis: 100%
      padding-right: 0px
      padding-bottom: 24px
    &__text
      align-items: center
      max-width: 450px
      justify-content: center
    &__little--flex
      display: flex
      flex-direction: column
      align-items: center

  .blog__button--visible
    display: none
  .blog__button--none
    display: flex
    align-items: center
    margin: auto
    margin-top: 36px
  .video-wrapper
    width: 99%
    justify-content: space-between
  .video__little--none
    display: flex
    flex-direction: column
  .video__decribe
    display: flex
    flex-direction: column
@media (max-width: 991px)
  .bottom
    display: none
  .newsletter
    &-wrapper
      flex-wrap: wrap
    &__input
      height: 120px
      width: 100%
      padding-top: 0
      padding-bottom: 34px
    &__button
      width: 98%
      top: 50%
      bottom: 0
    &__form
      width: 100%
      margin-bottom: 28px
    &__img
      top: 30%
    &__title
      padding-top: 26px
      padding-bottom: 32px
  .container
    max-width: 700px
  .slider__advantages
    max-width: 700px
  .slider__container
    max-width: 700px
  .unbublished__container
    max-width: 700px
  .recommended-wrapper
    flex-wrap: wrap
  .best-item
    width: 150px
  .best-wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
  .recommended
    &__tab
      max-width: 470px  
    &__item:nth-child(4n)
      display: none
    &__title
      font-size: 20px
    &__block
      margin-left: 0px
    &__item
      padding-right: 10px
  // .recommended__item
  //   display: flex
  //   flex-direction: column
  // .recommended__img
  //   width: 96px
  //   height: 138px
  // .recommended__block
  //   padding-top: 30px
  // .recommended__image
  //   width: 100%
  .unbublished__item
    text-align: center
    width: 206px
    height: 300px
  .unbublished__title
    text-align: center
    margin-bottom: 25px
  .coop__item:nth-child(4n)
    display: none
  .unbublished-slider__button
    top: 110%
    width: 48px
    height: 48px
  .unbublished-slider__button--next
    margin-left: 0
    left: 51%
  .unbublished-slider__button--prev
    right: 49%
    margin-right: 18px
  .unbublished
    padding-top: 48px
    padding-bottom: 128px
  .slider__advantages
  .slider__item
    width: 330px
  .advantages-wrapper
  .slider__button
    top: 105%
    right: 35%
  .video__little--none
    display: none
  .header-left
    margin-right: 0px
@media (max-width: 767px)
  .coop__item:nth-child(4n)
    display: none
  .slider__title
    max-width: 112px
    font-size: 16px
    line-height: 20px
    text-align: center
  .slider__img
    width: 36px
    height: 36px
    margin-top: 20px
    margin-bottom: 16px
  .slider__subtitle
    max-width: 100px
    font-size: 12px
    line-height: 20px
  .header
    &-nav
      display: none
      position: fixed
      left: 0
      right: 0
      &--visible
        display: block
    &-left
    &__title--color
  .header-nav--visible
    display: flex
    &-top
      padding: 16px
      position: fixed
      z-index: 99
      padding-bottom: 30px
      background-color: #fff
    &--mobile
      &-fixed
        
        left: 0
        right: 0
        top: 0
        z-index: 10
      &--mobile
        &--hidden
          display: none
    
  .slider__advantages
    max-width: 576px
    height: 400px
  .advantages-wrapper
    
  .slider__container
    max-width: 576px
  .unbublished__container
    max-width: 576px
  .container
    max-width: 576px
  .recommended__item
    margin-right: 0px
    flex-basis: 60%
  .recommended-wrapper
    flex-wrap: wrap
  .recommended__img
    margin-right: 30px
  .recommended__item--none
    display: none
  #video__big
    width: 400px
  .unbublished__buttons
    margin: auto
  .header .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $dark-blue
  .slider__item
    width: 270px
    height: 170px
  .books
    padding-bottom: 30px
  .slider
    padding-bottom: 40px
  .video-wrapper
    width: 99%
@media (max-width: 576px)
  .advantages-wrapper
    display: flex
    flex-direction: column
    flex-wrap: wrap
  .coop__item:nth-child(12n)
    display: block
  .coop__item--none
    display: none
  .coop__item
    margin-top: 0px
  .container
    width: 87%
  .footer__item
    flex-basis: 50%
  .footer__item--logo
    flex-basis: 100%
  .video__little
    width: 200px
  .video__little--title
  .video__little--last
    padding-left: 20px
  .video__main
    width: 98%
  .coop__wrapper
    justify-content: center
  .blog__mainimg
    text-align: center
    width: 98%
    margin: auto
  .blog__leftside
    margin-right: 0
  .recommended__item
    flex-direction: column
    max-height: 336px
    width: 280px
    position: relative
    padding-right: 50px
    padding-left: 50px
  .recommended__image
    width: 96px
    height: 138px
    position: absolute
    top: -13%
  .recommended__img
    width: 96px
    height: 138px
    margin: 0
    padding: 0
  .recommended__block
    text-align: center
    padding-bottom: 32px
  .recommended__title
    width: 100%
    margin-bottom: 12px
    margin-top: 18px
  .recommended-title
    padding-top: 40px
    font-size: 28px
    margin-bottom: 68px
  .recommended__buttons
    width: 160px
    margin: auto
  .recommended__pricetag
    margin-bottom: 20px
  .coop
    padding-top: 37px
    padding-bottom: 29px
    &__wrapper
      margin: auto
    &__img
      width: 100%
    &__item
      
      flex-basis: 50%
      padding-bottom: 28px
    &__title
      padding-bottom: 27px
    &__item:nth-child(-n+12)
      padding-top: 0px 
    &__item:nth-child(-n+6)
      padding-top: 0px
  .blog
    padding-top: 50px
    padding-bottom: 48px
    &__title
      font-size: 28px
      margin-bottom: 35px
      
    &__header
      margin-bottom: 0px
    &__mainimg
      width: 280px
      height: 120px
      border-radius: 4.816px
      object-fit: cover
      overflow: hidden
      padding-bottom: 0px
      margin-bottom: 20px
    &__leftside
      display: flex
      flex-direction: column
    &__description
      padding-bottom: 10px
      font-size: 16px
    &__image
      object-fit: cover
      width: 90px
      height: 90px
      border-radius: 4.816px
    &__img
      width: 90px
    &__wrapper
      justify-content: space-between
    &__text
      text-align: justify
      font-size: 12px
      line-height: 24px
    &__describe
      font-size: 14px
      padding-bottom: 6px
    &__date
      font-size: 10px
      padding-bottom: 6px
    &__link
      font-size: 10px
    &__item
      margin-bottom: 28px
    &__item:nth-child(3n)
      margin-bottom: 31px
    &__button
      margin-top: 0px
  .newsletter
    padding-bottom: 48px
    &__title
      font-size: 28px
      line-height: 36px
      width: 180px
    &-wrapper
      padding-left: 24px
      padding-right: 16px
    &__form
      height: 112px
    &__img
      top: 33%
    &__button
      width: 91%
      margin-bottom: 12px
      margin-right: 11px
      margin-left: 11px
  .footer
    padding-bottom: 64px
    &__title
      font-size: 16px
    &__link
      font-size: 14px
    &__li
      width: 105px
      padding-bottom: 15px
      &--title
        padding-bottom: 20px
      &--last
        padding-bottom: 39px
    &__item
      padding-right: 0
      width: 105px
      &--first
        padding-left: 24px
        padding-right: 6px
      &--third
        padding-left: 24px
        padding-right: 6px
  .footer .logo--footer
    padding-bottom: 16px
  .footer__text
    padding-bottom: 16px
  .video
    padding-top: 44px
    padding-bottom: 80px
    &-wrapper
      align-items: center
    &__title
      font-size: 28px
      line-height: 36px
    &__text
      font-size: 18px
      line-height: 25px
      text-align: center
    &__history
      padding-bottom: 35px
    &__main
      width: 300px
      height: 210px
      padding-bottom: 0
      width: 93%
    &__little
      padding-top: 20px
      width: 140px
      padding-right: 0
      padding-left: 0
      &--flex
        padding-right: 0
    &__tit
      width: 134px
      text-align: center
      padding-top: 16px
      font-size: 16px
      line-height: 20px
      margin: 0
    &__subtitle
      padding-top: 6px
      font-size: 12px
      line-height: 20px
  #video__big
    width: 300px
    height: 210px
  .header .header__button
    width: 185px
    font-size: 16px
    padding: 6px 20px
  .header .header__button_ .header__button--bottom
    width: 185px
    font-size: 16px
  .header .header__buttons
    align-items: center
    margin-bottom: 30px
  .header
    &__text
      margin-top: 32px
      margin-bottom: 15px
      display: flex
      margin-left: auto
      margin-right: auto
    &__title
      margin-bottom: 24px
    &__img
      width: 280px
      height: 333px
    &-right
      height: 280px
      width: 280px
  .header .image
    right: 25%
    width: 143px
    height: 215px
    top: 16%
  .best
    &__title
      font-size: 16px
      line-height: 24px
      margin-bottom: 12px
      width: 130px
    &__pricetag
      font-size: 20px
      margin-bottom: 14px
    &-img
      width: 96px
      height: 142px
      object-fit: cover
    &__img
      margin-right: 0
    &__tab
      display: flex
      align-items: center
      margin: auto
    &__item
      margin: 0
    &-wrapper
      padding-left: 15px
      padding-right: 30px
    &__hr
      display: none
  .unbublished__title
    font-size: 28px
    margin-bottom: 0px
  .advantages-wrapper
  .slider__advantages
    width: 300px
    height: 420px
  .slider__item
    max-width: 140px
    height: 185px
  .container-video
    justify-content: space-between
  .video__little--flex
    flex-basis: 47%
  .video-wrapper
    width: 99%
    justify-content: space-evenly
  #video-little
    width: 140px
  #video
    width: 140px
  .slider
    padding-bottom: 99px
    &__item
      margin-bottom: 10px
  .books
    padding-bottom: 56px
  .footer__li
    margin: auto