$blue: #1565D8
$yellow: #FAAD13
$dark-blue: #183B56
$text-color: #5A7184
$opacity: #B3BAC5
$link: #1665D8
*
  box-sizing: border-box
body
  font-family: 'Roboto', sans-serif
.container
  max-width: 1140px
  margin: 0 auto
.button
  cursor: pointer
  font-family: Open Sans
  font-style: normal
  font-weight: 700
  font-size: 16px
  line-height: 22px
  border-radius: 8px
iframe
  width: 100%
  height: 100%

  